<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>
<form th:action="@{/admin/add/product}" th:object="${product}" enctype="multipart/form-data" method="post">
  <label for="name">Nama Product</label>
  <input type="text" name="description" id="name" th:field="*{name}" required/>
  <label for="description">Deskripsi</label>
  <input type="text" name="description" id="description" th:field="*{description}" required/>
  <label for="price">Harga</label>
  <input type="number" name="price" id="price" th:field="*{price}" required />
  <input type="file" name="images" multiple accept="image/jpeg"/>
  <button type="submit">submit</button>
</form>
<br>
<a th:href="@{/}"><button>Back to Home</button></a>
</body>