<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HAHAHAHAAH</title>
</head>
<body>

<div th:if="${productList.size() > 0}" th:each="product : ${productList}">
    <p th:text="${product.getName()}"></p>
    <p th:text="${product.getDescription()}"></p>
    <p th:text="${product.getPrice()}"></p>
    <div th:if="${product.getImages().size() > 0}" th:each="i : ${#numbers.sequence(1, product.getImages().size(), 1)}" >
        <img th:src="@{'/api/images/' + ${i} + '/' + ${product.getId}}" alt="product-image"/>
        <p th:text="${i}"></p>
    </div>
</div>

</body>