<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
</head>
<body>
<h1>Transaction History</h1>
<div th:if="${orderList.size() > 0}" th:each="order : ${orderList}">
    <h2 th:text="${order.getId()}"></h2>
    <div th:if="${order.getOrderItems().size() > 0}" th:each="orderItem : ${order.getOrderItems()}">
        <p th:text="${orderItem.getProduct().getName()}"></p>
        <p th:text="${orderItem.getProduct().getPrice()}"></p>
        <p th:text="${orderItem.getQuantity()}"></p>
    </div>
    <p th:text="${order.getTotalPrice()}"></p>
    <p th:text="${order.getDeliveryMethod()}"></p>
    <p th:text="${#temporals.format(order.getOrderDateTime())}"></p>
    <p th:text="${order.getPaymentMethod()}"></p>
    <form th:if="${isAdmin}" th:action="@{'/admin/get/order/' + ${order.getId()}}">
        <button type="submit">See more..</button>
    </form>
    <form th:unless="${isAdmin}" th:action="@{'/admin/get/order/' + ${order.getId()}}">
        <button type="submit">See more..</button>
    </form>
</div>
<h2 th:unless="${orderList.size() > 0}">You've never been ordered anything... lol</h2>
</body>