<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List Page</title>
</head>
<body>
<a th:href="@{/admin/add/user}"><button>Add new user</button></a>
<div th:if="${userList.size() > 0}" th:each="user : ${userList}">
  <p>Name : <span th:text="${user.getName()}"></span></p>
  <p>Email : <span th:text="${user.getEmail()}"></span></p>
  <a th:href="@{'/admin/get/user/' + ${user.getId()} }" >
    <button>See more..</button>
  </a>
  <br>
  <a th:href="@{'/admin/update/user/' + ${user.getId()} }" >
    <button>Edit</button>
  </a>
  <br>
  <a th:href="@{'/admin/delete/user/' + ${user.getId()} }" >
    <button>Delete</button>
  </a>
</div>
<br>
<a th:href="@{/}"><button>Back to Home</button></a>
</body>
</html>